.messages {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: scroll;

	padding: 0 15px;

	&_list {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
}

.message {
	
	border-radius: 8px;
	padding: 8px;

	margin: 0 0 10px 0;

	font-family: Helvetica Neue;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	flex-wrap: wrap;
	word-break: break-word;
	
	max-width: 80%;
	align-self: flex-start;
}

.message_self {
	composes: message;
		
	margin-left: auto;
	color: #fff;
	background: #908DEA;
}

.message_reply {
	composes: message;

	color: #494949;
	background: #EEEEEE;
}

.buttons {
	margin-bottom: 10px;
}

.button {
	width: 100%;
	min-height: 30px;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	background: #F3F5F7;
	color: #909090;
	border: 0;
	border-radius: 3px;

	& + & {
		margin-top: 5px;
	}
}