<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Melior Chatbox</title>

</head>

<body>
  <div id='chat-box'></div>
  <script src="/bundle.js"></script>
  <script>
    BottenderWsChat.init({ 
      containerId: 'chat-box', serverUrl: 'http://localhost:3000'
    })
  </script>
</body>

</html>